[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Brian Boy
	email = 97043252+derseitenschneider@users.noreply.github.com 
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	ignorecase = false
	editor = nvim -f

[push]
	autoSetupRemote = true
[includeIf "gitdir:/Users/"]
	path = ~/.config/git/config.macos
[includeIf "gitdir:/home/"]
	path = ~/.config/git/config.linux
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
