[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Brian Boy
	email = 97043252+derseitenschneider@users.noreply.github.com 
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	ignorecase = false

